										{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap.js">
    <link rel="stylesheet" href="/static/addar.css">
  </head>
  <body class="container">
   <div class="for">
      <form class="" action="?" method="post" enctype="multipart/form-data">
        <h3>Add Article</h3>
        {%csrf_token%}
        {{form.media}}
        {%bootstrap_form form%}
        <button type="submit" name="button" class="btn btn-outline-primary">submit</button>
      </form>
    </div>
  </body>
</html>
