{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap.js">
    <link rel="stylesheet" href="/static/edit.css">
  </head>
  <body class="container">
    <center><form class="for" method="POST" enctype="multipart/form-data">
      <h3>Edit Article</h3>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">submit</button>
    </form>
</center>
  </body>
</html>
